@use "iconify-icons";

.iconify-icon {
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: contain;
    -webkit-mask-size: contain;
    vertical-align: -0.125em;

    &.colored {
        mask-image: none;
        -webkit-mask-image: none;
        background-color: transparent;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}