.icon, .icon-colored {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.2em;
}

.icon {
  background-color: currentColor;
  -webkit-mask: var(--icon-url) no-repeat center / contain;
  mask: var(--icon-url) no-repeat center / contain;
}

.icon-colored {
  background-image: var(--icon-url);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
